body {
    font-family: roboto, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

a {
    color: black;
    text-decoration: none;
}

button {
    font-size: 18px;
    color: black;
    padding: 5px;
    border-radius: 10px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

img {
    max-width: 200px;
    height: 200px;
    border-radius: 10px;;
}

.results {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameResult {
    flex: 1;
}

.container-bottom {
    background-color: rgb(195, 195, 216);
    padding:10px;
    justify-content: center;
    display: flex;
    flex: 1;
    border-radius: 25px;
}

.container-middle {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.container-three {
    background-color: #E5E7EB;
    text-align: center;
    border-radius: 25px;
}

.kid-desc {
    max-width: 200px;
}

.title {
    flex: 1 0 100%;
    text-align: center;
}

.profile {
    display: flex;
    flex-basis: 200px;
    flex-wrap: wrap;
}

.left-text {
    flex-basis: 300px;
}

.container-top {
    display: flex;
    background-color: #1f2937;
    color: white;
    padding: 50px;
    justify-content: space-between;
}



.footer,
.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
}

.footer {
    justify-content: center;
}

.header {
    justify-content: space-evenly;
}